/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    
--niebieski: #3D63AC;
--niebieskiJasny: #E4E9F3;
--zielony: #428A2F;
--zielonyJasny: #E5EFE2;
--zolty: #B09E3D;
--zoltyJasny: #F4F1E4;
--czarny: #000000;
--czarnyJasiejszy: #141414;
--bialy: #FFFFFF;

--fontSizeDesktopTabeltLarge: 32px;
--fontSizeDesktopTabeltMedium: 16px;
--fontSizeMobileLarge: 26px;
--fontSizeMobileMedium: 14px;
--fontSizeDTMSmall: 12px;

--borderRadiusSize: 12px;

--hoverBorderRadius: 200px;

--hoverStaticBackground: var(--bialy);
--hoverStaticColor: --czarny;

--hoverHoverBackground: var(--bialy);
--hoverHoverColor: #001AFF;

--hoverPressedBackground: #F1F5FF;
--hoverPressedColor: #001AFF;

}