// ***** KOLORY ***** 
$nibieski: #3D63AC;
$zielony: #428A2F;
$zolty: #B09E3D;
$nibieskiJasny: #E4E9F3;
$zielonyJasny: #E5EFE2;
$zoltyJasny: #F4F1E4;
$czarny: #000000;
$czarnyJasiejszy: #141414;
$bialy: #FFFFFF;

// ***** CZCIAKA ***** 
$font-family: "Raleway";

// ***** CZCIAKA Rozmiary ***** 
$fontSizeDesktopTabeltLarge: 32px;
$fontSizeDesktopTabeltMedium: 16px;
$fontSizeMobileLarge: 26px;
$fontSizeMobileMedium: 14px;
$fontSizeDTMSmall: 12px;

// ***** BORDER ***** 
$borderRadiusSize: 12px;

// ***** HOVERS ***** 
$hoverBorderRadius: 200px;
// ***** STATIC ***** 
$hoverStaticBackground: $bialy;
$hoverStaticColor: $czarny;

// ***** HOVER ***** 
$hoverHoverBackground: $bialy;
$hoverHoverColor: #001AFF;

// ***** PRESSED ***** 
$hoverPressedBackground: #F1F5FF;
$hoverPressedColor: #001AFF;
