@import url('styleSTZ-difult.scss');
@import url('styleSTZ-Desktop.scss');

/* ************ MOBILE ************ */
@media (max-width: 375px) {
    img {
        width: 24px;
        height: 24px;

    }
    body{
        
        main {
            height: auto;

            .zawartosc {
                margin: 0 16px;

                .rozmiar {
                    margin: 1.5em 1em;

                    .ico-format {
                        width: 3em;
                        height: 3em;
                    }

                    article {
                        
                        .naglowek {
                            font-size: $fontSizeMobileLarge;
                            line-height: 31px;
                        }
                        
                        .opis {
                            font-size: $fontSizeMobileMedium;
                            line-height: 20px;
                        }
                        
                    }
                }
            }
        }
    }
}