// ***** KOLORY ***** 
$nibieski: #3D63AC;
$zielony: #428A2F;
$zolty: #B09E3D;
$nibieskiJasny: #E4E9F3;
$zielonyJasny: #E5EFE2;
$zoltyJasny: #F4F1E4;
$czarny: #000000;
$czarnyJasiejszy: #141414;
$bialy: #FFFFFF;

// ***** CZCIAKA ***** 
$font-family: "Raleway";

// ***** CZCIAKA Rozmiary ***** 
$fontSizeDesktopTabeltLarge: 32px;
$fontSizeDesktopTabeltMedium: 16px;
$fontSizeMobileLarge: 26px;
$fontSizeMobileMedium: 14px;
$fontSizeDTMSmall: 12px;

// ***** BORDER ***** 
$borderRadiusSize: 12px;

// ***** HOVERS ***** 
$hoverBorderRadius: 200px;
// ***** STATIC ***** 
$hoverStaticBackground: $bialy;
$hoverStaticColor: $czarny;

// ***** HOVER ***** 
$hoverHoverBackground: $bialy;
$hoverHoverColor: #001AFF;

// ***** PRESSED ***** 
$hoverPressedBackground: #F1F5FF;
$hoverPressedColor: #001AFF;


/* ************ STYLOWANIE ************ */
// NAPISAĆ NA NOWO Z HERMETYCZNĄŚCIĄ " & " I BEM
* {
    font-family: $font-family;
    margin: 0;
}

.zaleta1 {
    background-color: $zielonyJasny;
}
.zaleta2 {
    background-color: $nibieskiJasny;
}
.zaleta3 {
    background-color: $zoltyJasny;
}

.ico1 {
    background-color: $zielony;
}
.ico2 {
    background-color: $nibieski;
}
.ico3 {
    background-color: $zolty;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 40px;
    height: 40px;
}

body {
    height: 100vh;
   
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
    
        .zawartosc {
            border-radius: $borderRadiusSize;
            max-width: 23em;

            .rozmiar {
                margin: 2em;
                
                .ico-format {
                    margin: 0;
                    width: 4.5em;
                    height: 4.5em;
                    border-radius: 50%;
                }
                
                article {
                    
                    .naglowek {
                        margin: 24px 0 16px 0;
                        font-size: $fontSizeDesktopTabeltLarge;
                        line-height: 38px;
                        font-weight: 700;
                    }
                    
                    .opis {
                        margin: 16px 0 24px 0;
                        font-size: $fontSizeDesktopTabeltMedium;
                        line-height: 22px;
                        font-weight: 400;
                    }
                    
                }
                
                a {
                    display: inline-block;
                    padding: 14px 19px 15px 24px;
                    background-color: $hoverStaticBackground;
                    color: $hoverStaticColor;
                    border-radius: $hoverBorderRadius;
                    text-decoration: none;
                    font-size: $fontSizeDTMSmall;
                    font-weight: 400;
                    line-height: 18px;
                }
                a:hover {
                    background-color: $hoverHoverBackground;
                    color: $hoverHoverColor;
                    transition: .2s;
                }
                a:active {
                    background-color: $hoverPressedBackground;
                    color: $hoverPressedColor;
                    transition: .2s;
                }
            }
        }
    }
}

/* ************ TABLET ************ */
@media (max-width: 834px) {
    body{
        
        main {
            height: auto;
            flex-direction: column;
            flex-wrap: nowrap;
        
            .zawartosc {
                max-width: 100%;
                margin: 0 41px;
    
                .rozmiar {
                    margin: 1.5em;

                    article {
                        
                        .naglowek {
                            margin: 16px 0 8px 0;
                        }
                        
                        .opis {
                            margin: 8px 0 16px 0;
                            line-height: 22px;
                        }
                        
                    }
                }
            }
        }
    }
}

/* ************ MEDIA ************ */
@media (max-width: 375px) {
    img {
        width: 24px;
        height: 24px;

    }
    body{
        
        main {
            height: auto;

            .zawartosc {
                margin: 0 16px;

                .rozmiar {
                    margin: 1.5em 1em;

                    .ico-format {
                        width: 3em;
                        height: 3em;
                    }

                    article {
                        
                        .naglowek {
                            font-size: $fontSizeMobileLarge;
                            line-height: 31px;
                        }
                        
                        .opis {
                            font-size: $fontSizeMobileMedium;
                            line-height: 20px;
                        }
                        
                    }
                }
            }
        }
    }
}