/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import url('/src/global-styles/styles/root.scss');


.kontener-pierwszy {
    background-color: var(--zielonyJasny);
}
.kontener-drugi {
    background-color: var(--niebieskiJasny);
}
.kontener-trzeci {
    background-color: var(--zoltyJasny);
}
.home-page {
    display: flex;
    
}